/* Reset */
header, footer, article, nav, section, aside, time, hgroup {
	display : block;
}

/* BASICS */
body {
	margin: 0;
	padding: 0;
	border-top : 5px solid #DB0202;
	color : #444;
	font: 0.9em/1.6em Verdana, sans-serif;
}

a {
	color : #0A647C;
	text-decoration : underline;
	}
	a:hover {
		color : #DB0202;
		text-decoration : none;
	}

a.h1, h1, h2, h3, h4, h5, h6, .portlet-title {
	display:block;
	background : url(/i/ai4.png) no-repeat 0 5px;
	border-bottom : 1px dotted #B5B3A9;
	color : #222;
	font-weight : bold;
	margin : 0 0 10px;
	padding : 0 0 0 25px;
	}
a.h1, h1, h2 {
	background : url(/i/ai4.png) no-repeat 0 6px;
	font-size : 15px;
}
h3 {
	background : url(../i/ai5.png) no-repeat 0 7px;
}
h3, h4, h5, h6, .portlet-title {
	font-size : 13px;
}

.pager {
	text-align: right;
}
.pager_links, .pager_active {
	margin: 0 10px;
}
.pager_active {
	font-weight: bold;
	color : #DB0202;
}
/* Header */
header {
	background: url("../i/hd.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 230px;
    margin: 0 auto;
    width: 1000px;
	}
header a {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color : #FFF;
	background : #DB0202;
	font-size: 16px;
	margin : 0 0 0 10px;
	padding : 5px 10px;
    text-decoration: none;
}
header a:hover {
	color : #000;
}

/* Article */
article {
	border-right : 1px dotted #666;
	padding : 0 20px 0 0;
	width : 750px;
	}
	article p {
		margin : 0 0 20px 0;
	}
	article img {
		margin : 10px;
	}

/* Highlighted Paragraphs */
.highlight-1, .highlight-2, .highlight-3 {
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	padding : 5px 10px;
}
	.highlight-1 {
		background : #FFCCCC;
		border : 1px dotted #FF9966;
	}
	.highlight-2 {
		background : #FFFF99;
		border : 1px dotted #FFCC33;
	}
	.highlight-3 {
		background : #CCFF99;
		border : 1px dotted #CCCC33;
	}

blockquote {
	border-left: 2px solid #DB0202;
	color : #666;
	margin : 0 0 20px 0;
	padding : 5px 10px;
}

/* Pre & Code */
pre {
	color : #333;
	line-height : 15px;		/* Height of each line of code--*/
	}
pre code {
	background : #EEE;
	overflow: auto;
	border-left : 2px solid #DB0202;
	margin : 0 0 10px 0;
	padding : 5px;
	display : block;
}

/* Table */
/*table {
	border-collapse : collapse;
	text-align:left;
	margin : 0 0 20px 0;
	}
	caption {
		-moz-border-radius : 4px;
		-webkit-border-radius : 4px;
		background : #DB0202;
		color : #FFF;
		font-weight : bold;
		}
	tr:nth-child(odd) {
		background : #FFF;
		}
	tr:nth-child(even) {
		background : #DDD;
		}
	tr:hover td {
		color : #DB0202;
		}
	td, th {
		padding : 0 5px;
		vertical-align:top;
		}
	th {
		background : #FFF;
		border-bottom : 2px solid #DB0202;
		color : #666;
		font-size : 10px;
		font-weight : bold;
		}
	td {
		border-bottom : 1px solid #CCC;
		font-size : 10px;
		}
*/
/* Forms */
.form form {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background : #DDD;
	margin : 0 0 20px;
	padding : 10px;
	}
	.form label {
		color : #666;
		display : block;
		font-size : 10px;
		font-weight : bold;
		margin : 0 0 0 2px;
	}
	.form input, .form textarea, .form select {
		border : 1px solid #CCC;
		font-size : 11px;
		padding : 4px 5px;
		width : 718px;
	}
    .form input[type=checkbox] {
        width : auto;
        margin-left: 10px;
    }
    .form select {
        width:730px;
    }
	.form input {
		margin : 0 0 10px;
	}
	.form input.button, .btn {
		background: #999;
		border : 1px solid #888;
		color: #FFF;
		cursor : pointer;
		font-weight : bold;
		margin : 10px 0 0 0;
		text-shadow : 0 -1px 1px rgba(0,0,0,0.25);
		width : 25%;
	}
	.form textarea {
		height : 100px;
	}

/* Lists */
article ul, aside ul {
	list-style : none;
	margin : 0 0 20px 0;
	}
	article ul {
		margin : 0 0 20px 23px;
	}
	article ul li {
		background : url(../i/ai2.png) no-repeat 0 8px;
		padding : 0 0 0 17px;
	}

/* Navigation & Menu */
nav ul {
	list-style : none;
    padding-left:10px;
}
nav li {
	background : url(../i/ai1.png) no-repeat 0 8px;
	padding : 0 0 0 15px;
}
nav li ul, aside li ul li ul {
	margin : 0;
}
nav li li a {
	font-size : 11px;
}
nav li li li a {
	font-size : 10px;
	}
nav li li li, aside li.active li li {
	background : url(../i/ai8.png) no-repeat 0 10px;
}
nav li.active, aside li.active li {
	background : url(../i/ai2.png) no-repeat 0 8px;
}
/* Tag Cloud */
#tagcloud {
	overflow : hidden;
	width : 200px;
}
#tagcloud li {
	display : inline;
	margin : 0 10px 0 0;
}
.tagcloudsize-0 a {
    font-size : 10px;
}
.tagcloudsize-1 a {
    font-size : 12px;
}
.tagcloudsize-2 a {
    font-size : 14px;
}
.tagcloudsize-3 a {
    font-size : 16px;
}
.tagcloudsize-4 a {
	font-size : 18px;
}
.tagcloudsize-5 a {
	font-size : 20px;
}
.tagcloudsize-6 a {
    font-size : 22px;
}
.tagcloudsize-7 a {
    font-size : 24px;
}

/* Footer */
footer {
	border-top : 1px dotted #B5B3A9;
	clear : both;
	margin : 20px 0;
	width:1000px;
	margin:0 auto;
}
footer a, footer p {
  color : #666;
  display : inline;
  font-size : 10px;
}

/* Wrappers */
#page {
	margin : 0 auto;
	width:1000px;
}

/* Shadow-Boxes*/
#comments pre {
    overflow: auto;
}
.meta {
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	border-radius : 4px;
	-moz-box-shadow : 0 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow : 0 2px 2px rgba(0,0,0,0.3);
	box-shadow : 0 2px 2px rgba(0,0,0,0.3);
	background : #EEE;
	margin : 5px 0 3px;
	padding : 3px 6px;
    clear: both;
}
.meta p, .meta a {
	font-size : 10px;
	margin : 0;
}
.comment {
	padding: 5px;
	margin:0;
}

#content
{
    float: left;
    width: 750px;
    border-right : 1px dotted #666;
	padding : 0 20px 20px 0;
}

#sidebar
{
	float: right;
    padding: 20px 20px 20px 0;
    width: 190px;
}

.post {
	margin-top:15px;
}

.post img {
	margin: 0 10px 10px 0;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 10px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

.errorMessage, .errorSummary {
	color:red;
}